.header{
    display:flex;
    align-items: center;
    position: fixed;
    color: white;
    font-size: 24px;
    width: 100%;
    height: 50px;
    padding: 10px;
}
.menu-icon{
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.menu-button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:11px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.menu-button:hover{
    background-color: #353535;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 30px;
}
span{
    color: red;
}
.left-comp{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
.middle-comp{
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-div{
    background-color: #121212;
    border: 1px solid #303030;
    display: flex;
    align-items: center;
    padding: 2px 2px 2px 15px;
    border-radius: 50px;
    width: 50%;
    overflow: hidden;
}
.search-input{
    width: 100%;
    display: inline;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 5px;
}
.search-button{
    background-color: #303030;
    border: none;
    border-radius: 0 50px 50px 0;
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    transition: background-color 0.2s;
}
.search-button:hover{
    background-color: #3f3f3f;
}
.search-icon{
    width: 20px;
    height: 20px;
}
.right-comp{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 10px;
    margin-right: 20px;
}
.user-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}
.bell-button{
    background-color: #303030;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    padding: 22px;
}
.bell-button:hover{
    background-color: #292929;
}
.user-button{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}
.user-button:hover{
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.352);
}
.bell-icon{
    width: 20px;
    height: 20px;
}